/* Nav links */
@media (max-width:991px) {
    header nav .links li{
        height: 70px;
        align-items: center;
        display: flex;
        padding-left: ;
    }
}

@media (max-width:991px){
    header nav .links li a span.cardCounter{
        top: -14px;
        right: 14px;
    
    }
}

@media (max-width:991px){
    #beutyCream .secondRow .img img{
        height: auto;
        margin-top: 24px;
    }
}

/* Nav links Ends */

/* cosmetic start */
@media (max-width:767px){
    #comneticBanner{
        background: none;
        background-size: 0;
        background-position: 0%;
        height: 30px;
    }
}
/* cosmetic start ends */